[Unit]
Documentation=https://github.com/tnl-o/velum
Documentation=man:velum --help
Description=Velum UI
Requires=network.target
After=network.target syslog.target

[Service]
EnvironmentFile=/etc/velum/env
User=velum
Group=velum
ExecStart=/usr/bin/velum server --config /home/velum/config.json
ExecStop=/bin/kill -s QUIT $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target